{% block content %}
<div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasChangePassword" aria-labelledby="offcanvasChangePasswordLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasChangePasswordLabel">Alterar Senha</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form action="{{ url_for('change_user_password')}}" method="POST">
        <div class="mb-3">
            <label for="folderName" class="form-label">Senha Atual</label>
            <input type="password" class="form-control text-bg-dark" id="old_password" placeholder="" name="old_password" value="{{request.form['old_password']}}" autocomplete="on">
        </div>
        <div class="mb-3">
            <label for="folderName" class="form-label">Nova Senha</label>
            <input type="password" class="form-control text-bg-dark" id="new_password" placeholder="" name="new_password" value="{{request.form['new_password']}}" autocomplete="on">
        </div>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
  </div>
{% endblock %}