{% block content %}
<div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasUpdateUser" aria-labelledby="offcanvasUpdateUserLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasUpdateUser">Editar Usuário</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <form action="{{ url_for('config_user_update_fields' )}}" method="POST"> 
        <div class="mb-3">
          <input type="text" class="form-control text-bg-dark" id="oldUserName" placeholder="" name="oldUserName" value="{{request.form['oldUserName']}}" hidden>
        </div>
        <div class="mb-3">
            <label for="userName" class="form-label">Nome do Usuário</label>
            <input type="text" class="form-control text-bg-dark" id="userName" placeholder="" name="userName" value="{{request.form['userName']}}" required minlength="3">
          </div>
        <div class="mb-3">
            <label for="userEmail" class="form-label">Email do Usuário</label>
            <input type="email" class="form-control text-bg-dark" id="userEmail" placeholder="" name="userEmail" value="{{request.form['userEmail']}}"required minlength="5">
          </div>
          <div class="mb-3">
            <label for="userType" class="form-label">Tipo de Usuário</label>
            <select class="form-select text-bg-dark" aria-label="Default select example" name="userType" id="userType">
                <option value="1">Administrador</option>
                <option value="2">Usuário</option>
              </select>
          </div>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
  </div>

  <script>
    var myModal = document.getElementById('offcanvasUpdateUser')
    var myInput = document.getElementById('offcanvasUpdateUser')
  
    myModal.addEventListener('shown.bs.modal', function () {
      myInput.focus()
    })

    document.getElementById("userType").onchange = function() {
      confirm("Tem certeza que deseja alterar o tipo de usuário? Após alterar o usuário para administrador, ele nao poderá mais ser modificado ou excluido.");
    };
  </script>
{% endblock %}