body {
    background-image: linear-gradient(to right top, #00c994, #00c58e, #00c088, #00bc83, #00b87d, #00aa86, #009b8a, #008b88, #126b7a, #284b5e, #282f3a, #181818);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
