{% extends "base.html" %}

{% block head %}

{% endblock %}
{% block content %}
<body>
    <div class="container py-5 h-100 col-5">
        <div class="row d-flex justify-content-center align-items-center h-100 p-3 mb-5 rounded shadow">
          <div class="col text-center">

            <img src="{{ url_for('static', filename='reshot-icon-save-file-B6E8WKYHDA.svg')}}" alt="File System SVG" class="mb-5" style="height:150px; width:150px;"/>
            <h1 class="mb-5">Py Saver</h1>
            <div class="d-grid gap-2 p-2">
                <form action="{{url_for ('login') }}" method="GET" class="d-grid col-5 mx-auto">
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <form action="{{url_for ('adduser') }}" method="GET" class="d-grid col-5 mx-auto">
                    <button type="submit" class="btn btn-warning ">Cadastro</button>
                </form>
              </div>
            
          </div>
        </div>
      </div>
</body>
{% endblock %}
